body {
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  margin: auto;

  background-color: rgb(242, 245, 140);
  color: rgb(10, 9, 9);
  font-size: 35px;
}
* {
  box-sizing: border-box;
  border: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.column {
  background-color: lightsteelblue;
  width: 40vw;
  padding: 20px;
  height: 800px;
  margin: 30px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 500;
  border: 8px solid black;
}
.col-img {
  height: 40vh;
  justify-content: center;
  align-items: center;
}
