

body {
    background-color: rgb(242, 245, 140);
    color: rgb(10, 9, 9);
    font-size: 35px;
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {

    width: 25%;
    padding: 20px;
    height: 400px; /* Should be removed. Only for demonstration */
  }
  

 
  </style>
  </head>
  <body>
  
